<section class="footer-contact">
  <div class="container footer-wrapper">
    <div class="row">
      <div class="offset-1 col-7 contato d-flex flex-column justify-content-center">
        <h5>UNIVERSIDADE ESTADUAL DE SANTA CRUZ</h5>
        <p>Campus Soane Nazaré de Andrade, Rodovia Jorge Amado, km 16, Bairro Salobrinho</p>
        <p>CEP 45662-900, Ilhéus-BA</p>
        <p>Telefone: +55 73 3680-5212</p>
        <p>E-mail: <a href="mailto:ccam@uesc.br" target="_blank">ccam@uesc.br</a></p>
      </div>
      <div class="col-3 logos d-flex flex-column justify-content-around">
        <img src="assets/img/logo_uesc.svg" class="uesc-logo" alt="Logo da UESC">
        <div class="d-flex align-items-center justify-content-around">
          <a href="#"><img src="assets/img/facebok.svg" alt="Facebook"></a>
          <a href="#"><img src="assets/img/instagram.svg" alt="Instagram"></a>
          <a href="#"><img src="assets/img/youtube.svg" alt="YouTube"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-copyright">
  <span>© Copyright 2020 UESC. Todos os direitos reservados.</span>
</section>
