.footer-copyright {
  font-size: 0.8rem;
  background-color: #c4c4c4;
  color: black;
  padding-left: 2rem;
}

.footer-wrapper {
  padding: 1rem;
  font-size: 12px;
}

.uesc-logo {
  text-align: center;
}

.contato {
  color: white;
}

.social-media {
  text-align: center;
}
