<section>
  <form [formGroup]="ministranteForm" (ngSubmit)="salvar()" class="ministrante-form mx-md-0 mx-2 mt-4 card p-4">
    <h2>{{idEdicao ? 'Editar ministrante' : 'Criar ministrante'}}</h2>
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="inputNome">
      <span class="text-danger" *ngIf="(this.ministranteForm.controls.inputNome == null && this.tentouSalvar == true)">Este
        campo não pode ser vazio.</span>
    </div>
    <div class="form-group">
      <label for="inputEmail">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="inputEmail">
      <span class="text-danger"
        *ngIf="(this.ministranteForm.controls.email.errors?.required && this.tentouSalvar == true)">Este
        campo não pode ser vazio.</span>
      <span class="text-danger"
        *ngIf="(this.ministranteForm.controls.email.errors?.email && this.tentouSalvar == true)">Preencha com
        um email válido.</span>
    </div>
    <div class="form-group">
      <label for="inputInstituicao">Instituição</label>
      <input type="text" class="form-control" formControlName="instituicao" id="inputInstituicao">
    </div>
    <div class="form-group">
      <label for="taFormacao">Formação</label>
      <textarea class="form-control" formControlName="formacao" id="taFormacao" rows="3"></textarea>
      <span class="text-danger" *ngIf="(this.ministranteForm.controls.taFormacao == null && this.tentouSalvar == true)">Este
        campo não pode ser vazio.</span>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn button-secondary" routerLink="/ministrantes">Cancelar</button>
      <button type="button" class="btn button-primary" (click)='salvar()'>Salvar</button>
    </div>
  </form>
</section>
