<app-root></app-root>
<section>
    <form class="example-form">
     
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Sobrenome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Confirma Senha</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Instituição</mat-label>
        <input matInput placeholder="Ex. UFRB">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Área</mat-label>
        <input matInput placeholder="Ex. Física">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>blablabla</mat-label>
        <input matInput >
      </mat-form-field></td>
    </tr></table>
    <a routerLink="/home"><button mat-button color="primary">Cancela</button></a>
    <button mat-button color="primary">Confirma</button>
  </form>
  
</section>
