<section class="create-evento-page d-flex justify-content-center align-items-center h-100">
  <form [formGroup]="userForm" (ngSubmit)="salvar()"class="new-login-form mt-4 card p-4">
    <h2>Novo Usuário</h2>
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="inputNome">
    </div>
    <div class="form-group">
      <label for="inputEmail">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="inputCPF">CPF</label>
      <input type="text" class="form-control" formControlName="cpf" id="inputCPF" mask="000.000.000-00">
    </div>
    <div class="form-group">
      <label for="inputSenha">Senha</label>
      <input type="password" class="form-control" formControlName="senha" id="inputSenha">
    </div>
    <div class="form-group">
      <label for="inputConf">Confirma Senha</label>
      <input type="password" class="form-control" id="inputConf" formControlName="confirmaSenha">
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn button-secondary" routerLink="/usuarios">Cancelar</button>
      <button type="button" class="btn button-primary" (click)='salvar()'>Salvar</button>
    </div>
  </form>
</section>
