<section class="create-evento-page d-flex justify-content-center align-items-center h-100">
  <form class="mt-4 card p-4 w-50">
    <h2>Login</h2>
    <div class="form-group">
      <label for="inputNome">E-mail</label>
      <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp">
    </div>
    <div class="form-group">
      <label for="inputNome">Senha</label>
      <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp">
    </div>
    <div class= "row">
      <a routerLink="/autenticacao/new"><button type="button" class="btn button-primary">Novo Usuário</button></a>
      <a><button type="button" class="btn button-primary">Confirma</button></a>
    </div>
  </form>
</section>
