.navbar-brand img {
  height: 80px;
}

.button-logout{
  cursor: pointer;
}

footer {
  // position: absolute;
  // margin-top: 4rem;
  // left: 0;
  // bottom: 0;
  width: 100%;
}

header, main, footer, app-root {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}
.nav-bar-min{
  display: none;
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 993px) {
  .nav-bar-min{
    margin: 0px;
    display: flex;
  }
  nav{
    display: flex;
    justify-content: flex-start;
  }
}
