.navbar-brand img {
  height: 80px;
}

footer {
  // position: absolute;
  // margin-top: 4rem;
  // left: 0;
  // bottom: 0;
  width: 100%;
}

header, main, footer, app-root {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}
