<!-- Toolbar -->
<header class="toolbar" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/logo_horizontal.png" alt="Application logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul ngbNav class="navbar-nav">
        <li ngbNavItem>
          <a class="nav-link" routerLink="/autenticacao">Login</a>
        </li>
        <li ngbNavItem>
          <a class="nav-link" routerLink="/eventos">Eventos</a>
        </li>
        <li ngbNavItem>
          <a class="nav-link" routerLink="/eventos/new">Criar Evento</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>

<footer class="mt-5">
  <!-- TODO: retirar a margem e consertar o grow da main -->
  <app-footer></app-footer>
</footer>
