<section class="create-evento-page d-flex justify-content-center align-items-center h-100">
  <form class="mt-4 card p-4 w-50">
    <h2>Criar evento</h2>
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp"
        placeholder="Insira o nome do evento">
      <small id="nomeHelp" class="form-text text-muted">O nome não pode estar em branco</small>
    </div>
    <div class="form-group">
      <label for="taDescricao">Descrição</label>
      <textarea class="form-control" id="taDescricao" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="inputLocal">Local</label>
      <input class="form-control" id="inputLocal" placeholder="Insira o local do evento">
    </div>
    <div class="form-group">
      <label for="inputPreco">Preço</label>
      <input class="form-control" id="inputPreco" placeholder="Insira o preço do evento">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</section>
