<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">;
<h1 mat-dialog-title>Novo Ministrante </h1>
<div mat-dialog-content>
<section class="create-evento-page d-flex justify-content-center align-items-center h-100">
  <form class="mt-4 card p-4 w-50">
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp">
    </div>
    <div class="form-group">
      <label for="inputNome">E-mail</label>
      <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp">
    </div>
    <div class="form-group">
        <label for="inputNome">Formação</label>
        <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp">
    </div>
    <div class="form-group">
        <label for="inputNome">instituição</label>
        <input type="email" class="form-control" id="inputNome" aria-describedby="nomeHelp">
    </div>
  </form>
</section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancela</button>
  <button mat-button cdkFocusInitial>Confirma</button>
</div>
