<app-root></app-root>
<section>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="senha" matInput>
        </mat-form-field>
        <a routerLink="/newLogin" routerLinkActive="selected"><button mat-button color="primary">Novo Login</button></a>
        <button mat-button color="primary">Confirma</button>
      </form>
  </section>