@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
// @import './reset.scss';

.hide {
  visibility: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover{
    color: inherit;
    text-decoration: none;
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
