@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "src/theme.scss";

body {
  min-width: 350px;
}

app-root {
  align-items: stretch;
}

.hide {
  visibility: hidden;
}

.dialog-no-padding .mat-dialog-container {
  padding: 0px !important;
}


button.button,
a.button {
  &-primary, &-primary:hover {
    @extend .btn, .color-primary;
  }
  &-secondary, &-secondary:hover {
    @extend .btn, .color-secondary;
  }
  &-light, &-light:hover {
    @extend .btn, .color-light;
  }
}

app-home {
  .pesquisa-container mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.app-datepicker {
  .owl-dt-container-info .owl-dt-container-info-active {
    color: var(--color-primary);
  }

  .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
  }

  .owl-dt-container-buttons {
    color: var(--color-primary);
  }
}
