<h1 mat-dialog-title>{{data.nome}}</h1>
<div mat-dialog-content>
  <p>Local: {{data.local}}</p>
  <p>Data: {{data.dataInicio | date: 'HH:mm dd/MM/yyyy'}}</p>
  <p>Inscrições até {{data.dataFimInscricao | date: 'HH:mm dd/MM/yyyy'}}</p>
  <p>Descrição: {{data.descricao}}</p>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button class="btn button-secondary" mat-dialog-close>Cancelar</button>
  <button class="btn button-primary" mat-button (click)="onConfirm()">Confirmar</button>
</div>
